{% comment %}
  Placeholder to allow defining custom head, in principle, you can add anything here, e.g. favicons:

  1. Head over to https://realfavicongenerator.net/ to add your own favicons.
  2. Customize default _includes/custom-head.html in your source directory and insert the given code snippet.
{% endcomment %}

<style>
  .button0 {
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button1 {
    background-color: #4c7aaf;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button2 {
    background-color: #a8af4c;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button3 {
    background-color: #e6518f;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button4 {
    background-color: #5e4caf;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }
  .button5 {
    background-color: #7782d3;
    border: none;
    color: white;
    padding: 6px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 12px;
    margin: 4px 2px;
    cursor: pointer;
  }

  .sp{
  width: 10px;
  padding-right: 15px;
  background-color: #bdbbc5;
  padding: 4px 12px;
  }

  .highlight{
  font-family: ABeeZee, sans-serif;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 600;
  color: rgba(99, 82, 82, 1);
  text-transform: none;
  font-style: normal;
  text-decoration: none;
  line-height: 1.6em;
  letter-spacing: 0.7px;
  }
  .headHi{
    font-family: ABeeZee, sans-serif;
    font-size: 26px;
    font-weight: 600;
    color: rgba(77, 63, 63, 1);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.6em;
    letter-spacing: 0.7px;
}

.introtext{
    font-family: Verdana, sans-serif;
    font-size: 16px;
    /* font-weight: 400; */
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: -0.1px;
}

.datetext{
    font-family: Courier New, sans-serif;
    font-size: 16px;
    background-color: #eeeeee;
    /* font-weight: 400; */
    color: rgba(0, 0, 0, 1);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 1.5em;
    letter-spacing: -0.1px;
}

.divtext{
  background-color: rgb(214, 226, 226);
}

.introhightext{
    font-family: Optima, sans-serif;
    font-size: 16px;
    font-weight: 100;
    color: #rgba(0, 0, 0, 1);
    text-transform: none;
    font-style: normal;
    text-decoration: none;
    line-height: 0em;
    letter-spacing: 0px;
}

.locationtext {
font-family: Tahoma, Geneva, sans-serif;
font-size: 14px;
letter-spacing: 2px;
word-spacing: 2px;
color: #6D1F0F;
font-weight: normal;
text-decoration: none;
font-style: normal;
font-variant: small-caps;
text-transform: none;
}

.tag-link {
    display: inline-block;
    background: rgba(106,159,181,0.15);
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #34435e;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}
.a {
  color: #6369D1;
}
.tag-header {
    display: inline-block;
    padding: 0 .5rem;
    margin-right: .5rem;
    border-radius: 4px;
    color: #34435e;
    font-family: "PT Sans",Helvetica,Arial,sans-serif;
    font-size: 90%;
    -webkit-transition: all 0.1s ease-in-out;
    -moz-transition: all 0.1s ease-in-out;
    transition: all 0.1s ease-in-out;
}

<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </style>

  {% seo %}