---
---
<div class="text-justify">{{reference}}</div>
<button class="btn btn--bibtex" onclick="toggleBibtex{{entry.key}}()">Bibtex</button>
 
{% if entry.doi %}
    <a class="btn btn--paper" href="{{ entry.doi | prepend: 'http://doi.org/' }}" target="_blank">Paper</a>
{% endif %}
 
{% if entry.preprint %}
    <a class="btn btn--preprint" href="{{ entry.preprint }}" target="_blank">Preprint</a>
{% endif %}
 
{% if entry.link %}
    <a class="btn btn--pdf" href="{{ entry.link }}" target="_blank">PDF</a>
{% endif %}
 
{% if entry.code %}
    <a class="btn btn--code" href="{{ entry.code }}" target="_blank">Code</a>
{% endif %}
<div id="a{{entry.key}}" style="display: none;">
<pre>{{entry.bibtex}}</pre>
</div>
<script>
function toggleBibtex{{entry.key}}(parameter) {
    var x= document.getElementById('a{{entry.key}}');
    if (x.style.display === 'none') {
        x.style.display = 'block';
    } else {
        x.style.display = 'none';
    }
}
</script>